<header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg sticky-top">
        <div class="navbar-layout w-100 pt-2 pb-2 ps-4 pe-4">
            <div class="mobile-header d-flex align-items-center justify-content-between">
                <a class="navbar-brand fw-bold text-white" href="#"><i class="bi bi-book"></i>
                    <strong>JoyLeeBook</strong>
                </a>

                <label id="menu-icon" class="menu-icon text-white fa-2x">&#9776;</label>
            </div>

            <!-- Authentication form -->
            <div class="menu pt-2" id="navbarNav">
                <form class="d-flex me-3 pt-2 pb-2 bg-white">
                    <input class="ps-3 pe-2 bg-white border-none outline-none" placeholder="Search manga..."
                        aria-label="Search">

                    <button class="search-submit pe-3 bg-white">
                        <i class="fas fa-search fa-2x"></i>
                    </button>
                </form>
                <a class="btn me-2 login" href="#">LOGIN</a>
                <a class="btn signup " href="#">SIGN UP</a>
            </div>
        </div>
    </nav>
</header>